@import "tailwindcss";

@theme {
  --color-primary-base: #3f3f46;
  --color-primary-muted: #71717a;
  --color-secondary-base: #27272a;
  --color-tertiary-base: #52525b;
  --color-tertiary-muted: #1f2023;
  --color-white-base: #ffffff;
  --color-white-muted: #8e8e92;
  --color-danger-base: #ce3426;
  --color-success-base: #157f40;
  --color-neutral-base: #444444;
  --color-neutral-muted: #767676;
  --color-neutral-muted: #767676aa;
  --color-black-base: #000000;
  --color-black-muted: #767676;
  --color-secondary-white-base: #f4f5f7;
  --color-black-primary-base: #151717;
  --color-gray-base: #31353b;
  --color-gray-muted: #3e4044cb;
  --color-border-base: #e4e4e7;
}

@layer components {
  .container {
    @apply max-w-[1440px] w-full mx-auto px-5 md:px-20;
  }
  .btn {
    @apply inline-flex text-[16px] cursor-pointer h-14 px-6 py-4 justify-center items-center gap-1 rounded-full bg-gradient-to-r from-[#2154FF] to-[#5079FF] text-white-base hover:opacity-90 focus:ring-4 focus:outline-none focus:ring-blue-500;
  }
  .glassmorphism {
    @apply rounded-[16px] border border-[#93C5FD] bg-white/5 backdrop-blur-md px-4 py-6 w-[300px] md:w-[224px] text-white;
  }
  /* footer social icon  */
  .footer-social-icon {
    @apply size-12 duration-300 transition-all ease-in-out cursor-pointer hover:bg-[#3B82F6] hover:border-[#3B82F6] rounded-full flex justify-center items-center  bg-[#27272A] border border-[#3F3F46];
  }
}

/* ========= Work Process Background ========= */
.work-process-bg {
  background-image: url("/images/backround/workPorcess.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 636px;
  width: 636px;
  position: relative;
}

/* ========= Hero Section Background ========= */
.hero-section-bg {
  background-image: url("/images/backround/lines.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;
  width: 100%;
  position: relative;
}
/* ========= About US Section Background ========= */
.about-us-section-bg {
  background-image: url("/images/aboutUs/aboutBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
.single-team-section-bg {
  background-image: url("/images/team/frame.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 297px;
  height: 462px;
}

/* ========= Mobile Responsive ========= */
@media (max-width: 768px) {
  .work-process-bg {
    background-image: none;
  }

  .hero-section-bg {
    background-image: none;
    height: 100%;
  }
  .mobile-hero-section-bg {
    background: url("/images/backround/lines.png") rgb(250, 250, 250) 0% 0% /
      30px 30px repeat;
  }
}
